# commpiled output
/node_modules
/dist

#logs
*.log
npm-debug.log*

#OS
.DS_Store

#IDE - VSCode
.vscode/*
!.vscode/*.code-snippets
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# App
.env*jj
config/*.key
/uploads
